.Counter {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px purple solid;
    width: 50%;
    border-radius: 4px;
}

.Counter__number {
    color: purple;
    text-shadow: 1px 1px black;
    font-size: 5rem;
}

.Counter__button {
    background: purple;
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    min-width: 10rem;
    font-size: large;
    border-radius: 2px;
    cursor: pointer;
}

.Counter__button:hover {
    background: black;
}
