.Github-card {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid purple;
    border-radius: 4px;
    text-align: left;
}

.Github-card__avatar {
    display: inline-block;
    border-radius: 2px;
    width: 100px;
    height: 100px;
}

.Github-card__name-wrapper {
    display: inline-block;
    margin-left: 1rem;
}

.Github-card__title {
    font-size: 1.6rem;
    font-weight: 700;
}

.Github-card__company {
    font-size: 1.2rem;
    font-weight: 500;
}
